* {
    box-sizing: border-box;
}

html {
    margin: 0;
}

:root {
    --header-bars-odd-color: rgba(8,153,129,1);
    --header-bars-even-color: rgba(242,54,69,1);
    --header-title-color: white;
    --header-link-color: rgba(255,255,255,0.6);
    --header-link-hover-color: black;
    --header-theme-change-button-color: purple;

    --login-welcome-color: black;
    --login-form-text-color: black;
    --login-form-background-color: white;
    --login-form-border-color-active: black;
    --login-form-register-color: rgba(0,0,0,0.7);
    --login-form-register-hover-color: rgba(0,0,0,1);
    --login-form-login-button-color: black;
    --login-form-login-button-background-color: white;

    --button-text-color: white;
    --button-background-color: rgba(0,0,0,0.75);
    --button-hover-background-color: rgba(0,0,0,0.9);
    --button-active-background-color: rgba(0,0,0,1);

    

    --footer-text-color: black;

    transition: 1000ms;
}

html.light-theme {
    --login-welcome-color: black;
    --login-form-text-color: black;
    --login-form-background-color: white;
    --login-form-border-color-active: black;
    --login-form-register-color: rgba(0,0,0,.7);
    --login-form-register-hover-color: rgba(0,0,0,1);
    --login-form-login-button-color: black;
    --login-form-login-button-background-color: black;

    --button-text-color: white;
    --button-background-color: rgba(0,0,0,0.5);
    --button-hover-background-color: rgba(0,0,0,0.75);
    --button-active-background-color: rgba(0,0,0,1);

}

.generate-warning {
    color: var(--login-form-login-button-background-color);
    margin: 0;
    font-size: 1rem;
    height: 30px;
}

.keys-container {
    height: auto;
    display: grid;
    grid-template-columns: 100px 1fr 1fr 100px;
    justify-items: center;
    align-content: center;
    margin-top: 50px;
}

@media (width <= 1165px) {

    .keys-container {
        grid-template-columns: 10vw 1fr 10vw;
        grid-template-rows: 1fr 1fr;
    }


    .add-broker-form-container {
        margin-top: 10px;
        position: static!important;
        grid-row: 2 / 3;
        grid-column: 2 / 3;
    }
}

.simple-info-container {
    grid-column: 2 / 3;
}

.tradehook-api-form-container {
    /* background-color: var(--login-form-background-color); */
    color: var(--login-form-login-button-background-color);
    display: grid;
    grid-template-columns: 550px;
    grid-template-rows: 1fr 1fr 30px 1fr;
    justify-items: center;
    align-content: center;
    gap: 0px;
    /* border: solid 1px rgba(0,0,0,0.25); */
    /* box-shadow: 1px 1px 1px gray; */
    /* border-radius: 2%; */
}

#generate-delete-form {
    display: flex;
    gap: 10px
}

button {
    padding: 12.5px 30px;
    border: 0;
    border-radius: 100px;
    background-color: var(--button-background-color);
    color: var(--button-text-color);
    font-weight: Bold;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    cursor: pointer;
    border: solid 1px rgba(0,0,0,0.25);
    position: relative;
   
}
  
button:hover {
    background-color: var(--button-hover-background-color);
    transform: scale(1.1);
}
  
button:active {
    background-color: var(--button-active-background-color);
    transition: all 0.25s;
    -webkit-transition: all 0.25s;
    box-shadow: none;
    transform: scale(0.98);
}

.brokers-list {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 1fr;
    justify-items: center;
    align-content: center;
    gap: 0px;
    color: var(--login-form-login-button-background-color);
}

h3 {
    font-size: 1.5rem;
    letter-spacing: 1.15px;
    line-height: 1.5rem;
    font-weight: 500;
}

p {
    font-size: 1.125rem;
    line-height: 1.5rem;
    font-weight: 400;
}

ul {
    list-style: none;
}

.broker-form {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
    align-content: center;
    gap: 0px;
}

.add-broker-form-container {
    display: grid;
    height: 450px;
    grid-template-columns: 1fr;
    grid-template-rows: 80px 1fr;
    justify-items: center;
    background-color: var(--login-form-background-color);
    border-radius: 5px;
    border: solid 1px rgba(0,0,0,0.25);
    box-shadow: 1px 1px 2px gray;
    color: black;
    position: fixed;
    left: 55vw;
    top: 20%;
}

.add-broker-form {
    width: 500px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
    align-content: center;
    gap: 20px;
}

#broker-name-text {
    font-size: 1.125rem;
}

select {
    width: 40%;
    height: 30px;
    background-color: black;
    border-radius: 5px;
    border: solid 1px rgba(0,0,0,0.25);
    box-shadow: 1px 1px 2px gray;
}

.form-group input {
    width: 90%;
    background-color: var(--login-form-background-color);
    color: var(--login-form-text-color);
    height: 50px;
    border-radius: 5px;
}

.form-group {
    width: 90%;
    font-family: 'Segoe UI', sans-serif;
    margin: 1em 0 1em 0;
    position: relative;
}
  
  .form-group input {
    font-size: 100%;
    padding: 0.8em;
    outline: none;
    border: 2px solid rgb(200, 200, 200);
    background-color: transparent;
    border-radius: 10px;
    width: 100%;
  }
  
  .form-group label {
    font-size: 100%;
    position: absolute;
    left: 0;
    padding: 0.8em;
    margin-left: 0.5em;
    pointer-events: none;
    transition: all 0.3s ease;
    color: rgb(100, 100, 100);
  }
  
  .form-group :is(input:focus, input:valid)~label {
    transform: translateY(-50%) scale(.8);
    margin: 0em;
    margin-left: 1.3em;
    padding: 0.4em;
    background-color: white;
  }
  
  .form-group :is(input:focus, input:valid) {
    border-color: var(--login-form-border-color-active)
  }

.brokers-list-entry {
    transform: unset;
}