body {
    background-color:  #0d2033;
    /*overflow-y: hidden;*/
    overflow-x: hidden;
}

.logo {
    margin: -20px auto;
    position: relative;
    right: 30px;
    display: block;
    width: 400px;
    height: auto;

}

.heading-container {
    
    text-align: left; 
}

.right-header {
    
    text-align: right;

}

.heading-container h1 {
    display: inline-block;
    margin: 0 20px;
}

.right-header h1 {
    display: inline-block;
    margin: 0 20px;
}

.heading-container h1 a {
    
    font-family: 'Montserrat', sans-serif;
    font-weight: 350;
    text-decoration: none;
    padding-left: 100px;
    position: relative;
    top: -150px;
    color: #eadb80;
    font-size: 30px;
    transition: color 0.3s;
}

.right-header h1 a {

    font-family: 'Montserrat', sans-serif;
    font-weight: 350;
    text-decoration: none;
    padding-right: 100px;
    position: relative;
    top: -184px;
    color: #eadb80;
    font-size: 30px;
    transition: color 0.3s;
}


.heading-container h1 a:hover {
    color: #c5a43c
}

.right-header h1 a:hover {
    color: #c5a43c
}

.welcome-class {
    font-size: 32px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 350;
    color: #c5a43c;  
    text-align: center;
    margin-top: 0px;
    margin-bottom: 50px;
    position: relative;
    right: 30px;
    top:-80px;
}

.paragraph-class {
    font-family: 'Montserrat', sans-serif;
    font-weight: 350;
    font-size: 24px;
    max-width: 800px;
    color: #c5a43c; 
    text-align: center;
    margin: 0px auto;
    line-height: 1.5; 
    position: relative;
    right: 30px;
    top: -80px;
}

.detail-paragraph {
    font-family: 'Montserrat', sans-serif;
    font-weight: 350;
    font-size: 20px;
    max-width: 800px;
    color: #c5a43c; 
    text-align: center;
    margin: 20px auto;
    line-height: 1.5;
    position: relative;
    right: 30px;
    top: -80px;
}

.webhook_count{
    font-size: 22px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 250;
    color: rgba(197, 164, 60, 0.8);
    text-align: center;
    margin-top: 0px;
    margin-bottom: 50px;
    position: absolute;
    right: 675px;
    top: 580px;
}


.contact-info {
    text-align: center;
    position: relative;
    right: 30px;
    top: 50px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 350;
    font-size: 16px;
    color: rgba(197, 164, 60, 0.6);
}




