body {
    background-color: #0d2033;;
    overflow-y: hidden;
    overflow-x: hidden;
    color:#c5a43c;
    font-family: 'Montserrat', sans-serif;
    font-weight: 350;
}

.logo {
    margin: -70px auto;
    position: relative;
    right: 0;
    display: block;
    width: 400px;
    height: auto;

}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 30px;
    text-align: center;
    color: #c5a43c;
    position: relative;
    
}

form {
    text-align: center;
    margin-top: 20px;
}

.login-container {
    background-color: #0d2033; /* Background color for the login container */
    color: #eadb80;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    width: 40%; /* Adjust the width as needed (1/4 of the screen) */
    padding: 20px;
    margin: 0 auto; /* Center the container horizontally */
    position: relative;
    top: -20px;
}


/* Target the email input field and add padding to the left */
form input[type="text"] {
    font-family: 'Montserrat', sans-serif;
    font-weight: 350;
    font-size: 18px;
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: 2px solid #c5a43c;
    position: relative;
    left: -10px;
    background-color: #ffffff;
    color: #0d2033;
    padding-left: 20px; /* Add left padding to move the text box away from the label */
}

label[for="id_username"] {
    /* Styles for the label associated with the Email field */
    position: relative;
    right: 10px;
}

label[for="id_password"] {
    /* Styles for the label associated with the Email field */
    position: relative;
    right: 25.5px;
    bottom: 0px;
}

form input[type="password"] {
    font-family: 'Montserrat', sans-serif;
    font-weight: 350;
    font-size: 18px;
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: 2px solid #c5a43c;
    background-color: #ffffff;
    color: #0d2033;
    position: relative;
    right: 25.5px;
}

form button {
    font-family: 'Montserrat', sans-serif;
    font-weight: 350;
    font-size: 20px;
    color: #eadb80;
    background-color: #0d2033;
    border: 2px solid #c5a43c;
    padding: 10px 20px;
    cursor: pointer;
    position: relative;
    right: 0px;
    bottom: 0px;
    transition: background-color 0.3s, color 0.3s;
}

form button:hover {
    background-color: #c5a43c;
    color: #0d2033;
}

a {
    font-family: 'Montserrat', sans-serif;
    font-weight: 350;
    font-size: 18px;
    color: #c5a43c;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.register-link{
    position: relative;
    text-align: center;
    top: -35px;
   
}