* {
    box-sizing: border-box;
}

html {
    margin: 0;
}

.login-form-container {
    margin-top: 10vh!important;
    height: 500px!important;
}

#login-text {
    margin: 0;
    padding: 0;
    margin-top: 10px;
    margin-bottom: 10px;
}

.login-form {
    grid-template-rows: 2vh 2vh 2vh 2vh 2vh 2vh 2vh!important;
    margin-bottom: 80px;
}

button {
    margin-top: 5vh;
}

@media (height < 601px) {
    .login-form-container {
        margin-top: 30px!important;
        height: 400px!important;
    }
    
    #login-text {
        margin: 0!important;
        padding: 0!important;
        margin-top: 10px!important;
        margin-bottom: 10px!important;
    }
    
    .login-form {
        grid-template-rows: repeat(6,25px)!important;
        margin-bottom: 80px!important;
    }
    
    button {
        width: 100px;
        height: 40px;
        margin-top: 20px!important;
    }
    
}