{% load static %}
<a href="https://tradehook-prod-fbb7997de66a.herokuapp.com/tradehook/account/" class="home-button">Account</a>
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap">
<link rel="stylesheet" type="text/css" href="{% static 'tradehook/api_keys.css' %}">

<img class = "logo" src="{% static 'tradehook/FullLogo_Transparent.png' %}" alt="TradeHook Logo">

<div class="heading-container">
        
    <<h1><a class="profilelink" href="https://tradehook-prod-fbb7997de66a.herokuapp.com/tradehook/me/">Profile</a></h1>
    <h1><a class="apilink" href="https://tradehook-prod-fbb7997de66a.herokuapp.com/tradehook/manage/my_api_keys/">My API Keys</a></h1>
    <!--  <h1><a class="setuplink" href="https://tradehook-prod-fbb7997de66a.herokuapp.com/tradehook/account/">Account</a></h1> -->
    <h1><a class="setuplink" href="https://tradehook-prod-fbb7997de66a.herokuapp.com/tradehook/alert_guide/">Alert Guide</a></h1> 
    <h1><a class="eventloglink" href="https://tradehook-prod-fbb7997de66a.herokuapp.com/tradehook/view/event_logs/">Event Logs</a></h1>
    <h1><a class="logoutlink" href="https://tradehook-prod-fbb7997de66a.herokuapp.com/tradehook/logout/">Logout</a></h1>


</div>

<div class="whole">

    {% if api_key %}
        <p class="apikey">TradeHook API Key: {{ api_key.tradehook_api_key }}</p>
    {% endif %}


    <form method="POST" action="https://tradehook-prod-fbb7997de66a.herokuapp.com/tradehook/manage/my_api_keys/">
        {% csrf_token %}
        <button  class="generate" type="submit" name="action" value="generate">Generate API Key</button>
        <button class= "delete" type="submit" name="action" value="delete">Delete API Key</button>
    </form>


<h2>Your Brokers</h2>
<ul>
    <span>
    {% for broker in user_brokers %}
        <li>
            <strong>{{ broker.broker_name }}</strong><br>
            API Key: {{ broker.broker_api_key }}<br>
            Secret Key: {{ broker.broker_secret_key }}<br>
            <form method="POST" action="https://tradehook-prod-fbb7997de66a.herokuapp.com/tradehook/manage/my_api_keys/">
                {% csrf_token %}
                <input type="hidden" name="action" value="delete_broker">
                <input type="hidden" name="broker_id" value="{{ broker.id }}">
                <button type="submit">Delete</button>
            </form>
        </li>
    {% endfor %}
</ul>
    
        <h2 class="broker">Add a New Broker</h2>
        <form method="POST" action="https://tradehook-prod-fbb7997de66a.herokuapp.com/tradehook/manage/my_api_keys/">
            {% csrf_token %}
            <input type="hidden" name="action" value="add_broker">
            {{ broker_form.as_p }}
            <button type="submit">Add Broker</button>
        </form>
    </span>
</div>

