{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Broker List</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap">
    <link rel="stylesheet" href="{% static 'tradehook/brokers_list.css' %}">
</head>
<body>
    <img class = "logo" src="{% static 'tradehook/FullLogo_Transparent.png' %}" alt="TradeHook Logo">
    <!-- Home Button (Separate from the container) -->
    <a href="https://tradehook-prod-fbb7997de66a.herokuapp.com/tradehook/home/" class="home-button">Home</a>

    <div class="container">
        <h1>Broker List</h1>
        <ul>
            {% for broker in brokers %} 
                <li>
                  {{ broker.broker_name }} - {{ broker.description }}
                  <a href="https://tradehook-prod-fbb7997de66a.herokuapp.com/tradehook/manage/my_api_keys/" class="add-button">ADD</a><br>

                </li>
            {% endfor %}  
        </ul>
    </div>
</body>
</html>