{% load static %}
<html>
<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap">
    <link rel="stylesheet" type="text/css" href="{% static 'tradehook/styles.css' %}">
    <title>Customer Details</title>
</head>
<body>
    <img class = "logo" src="{% static 'tradehook/FullLogo_Transparent.png' %}" alt="TradeHook Logo">
    <a href="https://tradehook-prod-fbb7997de66a.herokuapp.com/tradehook/account/" class="home-button">Account</a>
    <div class="whole">
        
        <h1 class="page-header">Profile Information</h1>

        {% if customer %}
            <p><strong class="form-label">First Name:</strong> <span class="customer-info">{{ customer.first_name }}</span></p>
            <p><strong class="form-label">Last Name:</strong> <span class="customer-info">{{ customer.last_name }}</span></p>
            <p><strong class="form-label">Username:</strong> <span class="customer-info">{{ customer.username }}</span></p>
            <p><strong class="form-label">Email:</strong> <span class="customer-info">{{ customer.email }}</span></p>
        {% else %}
            <p class="error-message">No customer details available.</p>
        {% endif %}

    </div>

    <div class="heading-container">
        
        <h1><a class="profilelink" href="https://tradehook-prod-fbb7997de66a.herokuapp.com/tradehook/me/">Profile</a></h1>
        <h1><a class="apilink" href="https://tradehook-prod-fbb7997de66a.herokuapp.com/tradehook/manage/my_api_keys/">My API Keys</a></h1>
        <!--  <h1><a class="setuplink" href="https://tradehook-prod-fbb7997de66a.herokuapp.com/tradehook/account/">Account</a></h1> -->
        <h1><a class="setuplink" href="https://tradehook-prod-fbb7997de66a.herokuapp.com/tradehook/alert_guide/">Alert Guide</a></h1> 
        <h1><a href="https://tradehook-prod-fbb7997de66a.herokuapp.com/tradehook/view/event_logs/">Event Logs</a></h1>
        <h1><a class="logoutlink" href="https://tradehook-prod-fbb7997de66a.herokuapp.com/tradehook/logout/">Logout</a></h1>


    </div>

</body>
</html>
