{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Event Logs</title>
    <link rel="stylesheet" href="{% static 'tradehook/event_logs.css' %}">
</head>
<body>
    <a href="https://tradehook-prod-fbb7997de66a.herokuapp.com/tradehook/home/" class="home-button">Home</a>
    <h1>Event Logs</h1>
    <table>
        <thead>
            <tr>
                <th>Received At</th>
                <th>Webhook Data</th>
                <th>Broker Response</th>
            </tr>
        </thead>
        <tbody>
            {% for event_log in event_logs %}
                <tr>
                    <td>{{ event_log.received_at }}</td>
                    <td>{{ event_log.webhook_data }}</td>
                    <td>{{ event_log.broker_response }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>