{% load static %}
<html>
<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap">
    <link rel="stylesheet" type="text/css" href="{% static 'tradehook/home.css' %}">
    <title>TradeHook</title>
</head>
</html>

<body>
    <div class="left-rectangle"></div>
    
    <div class="header">
        <img class = "logo" src="{% static 'tradehook/FullLogo_Transparent.png' %}" alt="TradeHook Logo">
    </div>

    <div class="heading-container">
        
        <h1><a href="https://tradehook-prod-fbb7997de66a.herokuapp.com/">Login</a></h1>
        <h1><a href="https://tradehook-prod-fbb7997de66a.herokuapp.com/tradehook/register/">Register</a></h1>

    </div>
   
    <div class="right-header">
    
        <h1><a href="https://tradehook-prod-fbb7997de66a.herokuapp.com/tradehook/view/brokers_list/">Brokers</a></h1>
        <h1><a href="https://tradehook-prod-fbb7997de66a.herokuapp.com/tradehook/account/">Account</a></h1>

    </div>

    <div class = "intro">
        <h2 class="welcome-class">Welcome to TradeHook!</h2>
        <p class="paragraph-class">

            This site allows you to automate trading through the use of webhooks.
            Using TradingView's alert system to send webhooks to this site is recommended, but it can receive webhooks from any source.
        </p>
    

    </div>

    <div>
        <h3 class="webhook_count">Webhooks Received: {{webhook_count}}</h3>
    </div>


</body>
<footer class ="contact-info">
    contact rileymartin523@gmail.com for inquiries
</footer>

